.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 5.75rem;
  width: min(100%, 1072px);
  margin: 0 auto;
  background: transparent;

  img {
    width: min(100%, 9.0625rem);
  }

  ul {
    list-style: none;

    li {
      display: inline-block;
    }

    li a {
      color: $gray-50;
      text-decoration: none;
      font-size: 1.25rem;
    }

    li + li {
      margin-left: 1.875rem;
    }
  }
}