// Colors
$cyan-500: #2F5EA5;
$cyan-400: #72A1E7;
$cadet-600: #B4B6CE;
$gray-950: #0A0A0A;
$gray-900: #171717;
$gray-50: #EFEFEF;

// Gradients
$card-gradient: linear-gradient(to bottom, #171C23, #10141A);
$body-gradient: linear-gradient(to bottom, #000223, #0A0A0A);

@mixin linkHover() {
  position: relative;
  transition: color 0.2s;
  
  &:hover {
    color: $cyan-500;
  }
}

@mixin buttonHover() {
  transition: box-shadow 0.3s, background-color 0.3s;

  &:hover {
    box-shadow: 0 10px 25px -7px #4374BC;
    background: $cyan-400;
  }
}

@mixin cardShadowHover() {
  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: 0 0 0 2.5px $cyan-500;
  }
}

// Media Queries
@mixin desktopScreen {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

@mixin tabletScreen {
  @media screen and (max-width: 992px) {
    @content;
  }
}

@mixin mobileScreen {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mobileExtraSmallScreen {
  @media screen and (max-width: 403px) {
    @content;
  }
}