.footerContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 130px;
  padding: 0 1rem;
  margin-top: 8.5rem;

  text-align: center;
  font-size: 1.125rem;
  font-weight: medium;
  line-height: 160%;
  color: $gray-50;

  & a {
    color: $gray-50;
    text-decoration: none;
  }

  & span a span {
    margin: 0 0.3rem;
    color: $cyan-500;
  }

  @include mobileScreen {
    font-size: 1rem;
  }
}