section {
  & > header {
    position: relative;
    margin-bottom: 3rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1088px;

    & .sideHeaderContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;

      & button {
        border: none;
        background: transparent;

        transition: all 0.2s ease;

        & img {
          width: 2.25rem;
        }

        &:active {
          opacity: 0.5;
          transform: scale(0.9);
        }
      }
    }

    &::before {
      position: absolute;
      top: 50%;
      bottom: 50%;
      left: 4px;
      transform: translate(-50%, -50%);

      content: "";
      width: 8px;
      height: 2rem;
      background: $cyan-500;
    }

    & h3 {
      font-size: 2.25rem;
      font-weight: 700;
      color: $gray-50;

      margin-left: 1.8rem;
    }

    @include mobileScreen {
      & h3 {
        font-size: 1.8rem;
        font-weight: 700;
        color: $gray-50;
  
        margin-left: 1.8rem;
      }

      & .sideHeaderContainer {
        gap: 0.5rem;
      }
    }
  }
}