.experiences {
  margin-left: calc((100vw - 1088px) / 2);

  @include tabletScreen {
   margin: unset;
   padding: 0 1rem;
  }

  & > div[role="experiencesCarousel"] {
    display: flex;
    gap: 2.3125rem;

    max-width: 1550px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-snap-align: start;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}